<div class="uk-container uk-text-center uk-padding">
    <h2>Dummy Pricing</h2>
    <h5 class="uk-text-muted">Sample text to be replaced later.</h5>

    <div class="uk-child-width-1-3@s uk-margin-large-top" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body">
                <h3 class="uk-card-title">Bronze</h3>
                <h1><small class="uk-text-small"><sup>GHS</sup></small> 200</h1>
                <p class="uk-text-meta">Manage up to 20 passwords on your favorite device.</p>
                <button class="uk-button uk-button-primary" (click)="subscribeUser('BR')">Get Started</button>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body">
                <h3 class="uk-card-title">Silver</h3>
                <h1><small class="uk-text-small"><sup>GHS</sup></small> 950</h1>
                <p class="uk-text-meta">Manage unlimited passwords on unlimited device.</p>
                <button class="uk-button uk-button-primary" (click)="subscribeUser('SL')">Get Started</button>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body">
                <h3 class="uk-card-title">Gold</h3>
                <h1><small class="uk-text-small"><sup>GHS</sup></small> 1950</h1>
                <p class="uk-text-meta">Manage passwords and monitor devices on unlimited device.</p>
                <button class="uk-button uk-button-primary" (click)="subscribeUser('GD')">Get Started</button>
            </div>
        </div>
    </div>

</div>
